body {
    background-color: #26292E;
    font-family: 'droid_sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 28px;
}
div.shot-chart {
    margin: 10px;
    width: 100%;
    height: 530px;
}
svg {
    width: 100%;
    height: 100%;
    background: none, url('../court.svg') no-repeat 0% 0%;
}
.desc {
    color: white;
    font-size: large;
}

.circles { opacity: .9; }

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}